<!DOCTYPE html>
<html>

<head>

    <base href="/" />
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/ui.jqgrid.css" rel="stylesheet">
    <link href="css/fs.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/tinymce.min.js"></script>
    <script src="js/fsDialog.js"></script>
    <script src="js/fsEngine.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/parts/pagos.js"></script>
    <script src="js/parts/main.js"></script>

</head>

<body>
	{%reload%}
	<div class="headSection">
		<div class="titleContainer" style="width: 10em; display: inline-block; vertical-align: middle;">
			<img src="css/images/title.png" class="pageTitle" style="width: 10em;"/>
        </div> 
        <div class="pageMenuContainer" style="padding-left: 1em; width: 15em; display: inline-block; vertical-align: top; margin-top: 0.4em;">

        </div>
        <div id="dm_login_panel">
		</div>
	</div>
	<div id="mainBox" class="mainBox">

	</div>

</body>

</html>